@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBF1E2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #392C9C;
}

.scoreboard {
    /* height: 70px;
    width: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -70px;
}

.scoreboard-section-container {
    display: flex;
    background-color: #fff;
    border: 4px solid #351253;
    border-radius: 5px;
    z-index: 999;
}

.scoreboard-section {
    flex: 5;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.scoreboard-section p{
    font-size: 36px;
    line-height: 30px;
    font-weight: 900;   
}

.scoreboard-section h2 {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.scoreboard-player > *, .scoreboard-comp > * {
    color: #392C9C;
} 

.scoreboard-tie {
    border-left: 4px solid #351253;
    border-right: 4px solid #351253;
}

.scoreboard-tie > * {
    color: #808080
}

.scoreboard-round {
    width: 138px;
    text-align: center;
    background:  #351253;
    border-radius: 5px 5px 0 0;
    padding: 4px 0;
}

.scoreboard-round > * {
    display: inline-block;
    color: white;
}

.scoreboard-round p {
    font-size: 16px;
    min-width: 10px;
    font-weight: 500;
    justify-content: center;
    /* margin-bottom: 5px;   */
}

.scoreboard-round h2 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

.selection-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.selection {
    width: 122px;
    background: white;
    border: 4px solid #351253;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    padding: 8px 4px 4px 4px;
    margin-top: -4px;
    text-align: center;
    z-index: 998;
}

.content {
    height: 400px;
    width: 800px;
    background-color: #392C9C;
    align-items: center;
    border-radius: 5px;
    border: 4px solid #351253;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messages h1 {
    text-transform: initial;
    text-align: center;
    line-height: 1.5em;
    color: white;
    font-size: 40px;
}

.choices {
    display: flex;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 10px;
}

.choice img {
    width: 100px;
    background: #351253;
    border-radius: 10px;
    transition: all .3s ease;
}

.choice img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.choice p { 
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: all .5s ease;
    margin-top: 20px;
}

.play-again {
    
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 4px;
    background-color: white;
    border: none;
}

.play-again:hover {
    cursor: pointer;
}   